.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), #1e3a8a);
  position: relative;
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  width: 13rem;
  border-radius: 15px;
  padding: 20px;
  height: 21.25rem;
  text-align: center;

  @keyframes gradientAnimation {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .dayTemperatureWrapper {
    .day {
      font-size: 18px;
    }

    .temperature {
      font-size: 64px;
      font-weight: bold;
      line-height: 1;
    }

    .weatherIcon {
      width: 80px;
      height: 80px;
    }

    .condition {
      font-size: 18px;
    }
  }

  .detailsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .details {
      display: flex;
      justify-content: center;
      font-size: 14px;
      gap: 1em;

      .detailsItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .2em;
      }
    }
  }
}



