@use 'sass:math';

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes color-change {
  0%,
  100% {
    background-color: #8c61ff;
  }

  20% {
    background-color: #397df6;
  }

  40% {
    background-color: #f4f2fa;
  }

  60% {
    background-color: #f23d61;
  }

  80% {
    background-color: #a280ff;
  }
}

@for $i from 1 through 7 {
  .loader .segment:nth-child(#{$i}) {
    transform: rotate(math.div(360deg, 7) * $i) translate(2.5rem) rotate(-(math.div(360deg, 7) * $i));
  }
}

.loader {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 6.25rem;
  height: 6.25rem;
  margin: 15% auto;

  animation: rotate 2s linear infinite;

  .segment {
    position: absolute;

    width: 1.25rem;
    height: 1.25rem;

    background-color: #8c61ff;
    border-radius: 50%;

    animation: color-change 2s linear infinite;

  }
}



